body{
    margin: 0;
    padding: 0;
    font-family: "Roboto","Noto",sans-serif ;
}

body a{
  text-decoration: none;
}

/* header styles  */

.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top:0;
    background-color: white;
    z-index: 500;
    padding-top: 5px;
}

.header h3{
  font-weight: 500;
  font-size: 18px;
}

.namelogo{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: green;
  color: white;

}

.create-channel{
  margin-right: 50px;
  margin-top: 5px;
  color: blue;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 20px;

}

/* user modal styles  */

.usermodal {
  position: fixed;
  top: 20px;
  right: 70px;
  width: 300px;
  border-radius: 10px;
  height: 100vh;
  overflow-y: auto;
  background-color:white;
  box-shadow: 1px 1px 2px 1px rgb(206, 205, 205);
 
}



.usermodal-content {
  position: relative;
  top:30px;
  border-top: 0.5px solid rgb(180, 176, 176);
  background-color: white;
  width: 300px;
  height: 100%;

}

.usermodal::-webkit-scrollbar {
  display: none; 
}


.usermodal:hover::-webkit-scrollbar {
  display: block;
  width: 4px; 
}

.usermodal::-webkit-scrollbar-thumb {
  background: #8d8b8b; 
}

.namelogomodal{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: green;
  color: white;
  margin: 15px;

}

.email-name{
  display: flex;
  padding: 10px;
}

.email-name p{
  margin: 5px;
}

.user-menu-items p{

  font-size: 16px;
  font-weight: 400;
  /* line-height: 24px; */
  padding: 10px;
  padding-bottom: 20px;
  margin: 0;
  margin-top: 5px;
}


 
.user-menu-items p:hover {
  background-color: #e6e7e9;
  border-radius: 5px;
  cursor: pointer;
}


/* styles for hamburger menu and modal  */

.menu{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  
  /* Hamburger Icon Styles */
  .hamburger {
    position: relative;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    /* z-index: 998; */
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: rgb(70, 67, 67);
  }
  
  /* Modal Styles */
  .modal {
    display: flex;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 240px;
    height: 90vh;
    overflow-y: auto;
    background-color: white;
   
  }

  .modal::-webkit-scrollbar {
    display: none; 
  }

  
  .modal:hover::-webkit-scrollbar {
    display: block;
    width: 8px; 
  }
  
  .modal:hover::-webkit-scrollbar-thumb {
    background: #8d8b8b; 
  }
  
  

  
  .modal-content {
    position: relative;
    background-color: white;
    width: 216px;
    height: 100%;
    padding: 10px;

  }

 

  /* Menu Items */
  
  
  .menu-items p{
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .menu-items p a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .menu-items p:hover {
    background-color: #e6e7e9;
    border-radius: 5px;
    cursor: pointer;
  }

  /* search input  */

  .searchinput{
    width: 40vw;
    padding: 8px 10px 10px 20px;
    font-size: 16px;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    border: 1px solid grey;
    margin-top: 2px;
  }

  .searchbutton{
    height: 40px;
    width: 70px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid grey;
    border-left: 0px;
    padding: 5px;
  }

  /* sidebar styling  */

  .sidebar{
    position: fixed;
    width: 75px;
    height: 625px;
    left: 0px;
    top: 80px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .sidebar p{
    font-size: 10px;
    margin-bottom: 25px;
  }

  .sidebaritem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
  }

  .sidebaritem:hover{
    background-color: #b9bbbe;
    border-radius: 5px;
    cursor: pointer;
  }

  .sidebaritem a{
    text-decoration: none;
  }

  /* videolist styling  */

  .videolist{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left:70px;
    top: 90px;
    width: 86vw;
    padding: 50px;

  }

  .loading{
    height: 100vh;
    position: relative;
    left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: blue;
    text-align: center;
}

.error{
  height: 100vh;
  position: relative;
  left: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: red;
    background-color: black;
    text-align: center;
    
}

.novideofound{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.filterbutton{
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  position: fixed;
  background-color: white;
  top: 50px;
  padding-top: 5px;
}

.filterbutton button{
  margin: 5px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding: 8px;
  font-family: "Roboto","Noto",sans-serif ;
  background-color: #e6e7e9;
}

/* video item styling  */

.videoitem{
  display: flex;
  flex-direction: column;
  width: 31%;
  margin: 10px;
  margin-bottom: 15px;

}


.imagecontainer img{
  height:225px ;
  width:100%;
  border-radius: 10px;
  object-fit: cover;
}

.videoitemdetails{
  display: flex;
  margin-top: 5px;
}

.videoitemdetails img{
  border-radius: 50%;
  margin: 8px;
  object-fit: cover;
}

.videoitemdetails a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  max-height: 50px;
  text-overflow: ellipsis;
  font-weight: 500;
    font-family: "Roboto","Noto",sans-serif ;
}

.channellogo{
  margin-right: 10px;
}

/* videoplayer styling  */

.videoplayer{
  position: relative;
  top: 70px;
  left: 40px;
  width: 63%;
}

.reactplayer{
  width:100%;
  max-width: 900px;
  aspect-ratio: 16/9; 
  overflow: hidden; 
  border-radius: 15px; 
  background: black;
}

.reactplayer >div{
  overflow: hidden;
}

/* .videoplayer h2{
  margin-bottom: 10px;
} */

.channel-button{
  display: flex;
  justify-content: space-between;
}

.subscriber>h3{
  margin: 5px;
}


.subscriber p{
  margin: 5px;
  font-size: 14px;
  color: rgb(68, 68, 68);
}

.subscribebutton>button{
  width: 100px;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
}

.likebutton{
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 40px;
  background-color: #e6e7e9;
}

.likebutton:hover{
  background-color: #b6b1b1;
}

.dislikebutton{
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    border: none;
    border-left: 1px solid grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 40px;
    background-color: #e6e7e9;
}


.dislikebutton:hover{
  background-color: #b6b1b1;
}

.sharebutton{
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  height: 40px;
  background-color: #e6e7e9;
  margin: 10px;
}

.sharebutton:hover{
  background-color: #b6b1b1;
}

.description{
  background-color: #e2e1e1;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 10px 0px;
}

.description>h4{
  margin: 5px;
  margin-top: 10px;
}
.description>p{
  margin: 10px;
}

/* suggested video styling  */

.suggested{
  width: 28%;
  position: absolute;
  top: 70px;
  right: 40px;
  /* border: 2px solid black; */
  padding: 5px;
}

/* suggested item styling  */

.suggesteditem{
  width: 100%;
  display: flex;
  margin: 10px;
}

.suggesteditem p{
  font-size: 12px;
  margin: 2px;
}

.suggesteditem h3{
  font-size: 15px;
  color: black;
  font-weight: 500;
  margin: 5px 0px;
  max-height: 35px;
overflow: hidden;
}

.suggestedimage img{
  width: 170px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.suggesteditemdetails{
  /* width: 60%; */
  margin-left: 5px;
}


/* signup and login page styling  */

.signup{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontainer{
  width: 50%;
  height: 70%;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.formcontainer input{
  width: 90%;
  padding: 10px;
  margin: 10px;
  /* text-align: center; */
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid grey;
}

.signupbutton{
  width: 50%;
  margin-left: 25%;
  margin-top: 15px;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: red;
  font-weight: 600;
  color: white;
}

.signupbutton:hover{
  background-color: green;
}

/* profile page styling  */

.profile-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.profileformcontainer{
  width: 50%;
  height: 70%;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileformcontainer input{
  width: 90%;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid grey;
}

/* comment section  */

.commentsection{
  display: flex;
}

.commentsection input{
  width: 52vw;
  border: none;
  border-bottom: 0.5px solid grey;
  font-size: 16px;
  padding: 5px;
  outline: none;
  font-weight: 500;
}

.commentsection input:focus {
  border-bottom: 2px solid rgb(18, 18, 19);
}

.commentnamelogo{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  border-radius: 50%;
  background-color: green;
  color: white;
}

.comment-button{
margin-top: 10px;
font-size: 16px;
padding: 10px;
border-radius: 20px;
border: none;
font-weight: 500;
width: 100px;
}


.comment-button:hover{
  background-color: rgb(97, 54, 253);
  color: white;
}



.commentdata{
  width: 62vw;
  display: flex;
  padding: 10px;
  margin: 40px 0px;
  position: relative;
}

.add-comment{
  margin-left: 20px;
}

.add-comment span{
  font-size: 14px;
  font-weight: 500;
}

.add-comment p{
  margin: 10px;
}

.commentinput input{
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  color: black;
  width: 52vw;
  background: none;
}

.commentinput input:focus{
  border-bottom: 2px solid rgb(18, 18, 19);
}

.edit-delete{
  position: absolute;
  right: 35px;
  top: 5px;
}

.small-modal{
  height: 70px;
  width: 100px;
  position: absolute;
  right: 45px;
  top: 5px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 1px 1px rgb(204, 202, 202);
  border: none;
  padding: 10px;
}

.small-modal p{
  margin: 15px 0px;
  cursor: pointer;
}

.edit-actions{
  position: absolute;
  right:20px;
  top:60px;
}

.commenteditbutton{
  font-size: 16px;
  padding: 5px;
  border-radius: 20px;
  margin: 0px 10px 20px 10px;
  border: none;
  width: 100px;
}

.commenteditbutton:hover{
  background-color: #b9bbbe;
}

/* channel modal & channel page styling  */

.channel-Modal{
  width: 70vw;
  height: 85vh;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 200px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px 1px rgb(211, 209, 209);
  border: 0.5px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.channel-Modal input{
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid purple;
}


.createchannelbutton{
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: red;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  border: 1px solid black;
  margin-top: 20px;
  margin-right: 25px;
}

.createchannelbutton:hover{
  background-color: green;
}

.cancelbutton{
  width: 40%;
  padding: 10px;
  font-size: 16px;
  background-color: grey;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  border: 1px solid black;
  margin-top: 20px;

}

.cancelbutton:hover{
  background-color: black;
}

.channeluserlogo{
  width: 100px;
  height: 100px;
  background-color: green;
  color: green;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center; 
  justify-items: center;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.channeluserlogo p{
  margin-left: 15px;
}


  /* some common classes  */


  .hide{
    display: none;
  }

  .mlr-10{
    margin-left: 10px;
    margin-right: 10px;
  }

  .ml-5{
    margin-left: 5px;
  }

  .bb-2{
    padding: 10px;
    border-bottom: 0.5px solid rgb(211, 203, 203);
  }

  .bt-2{
    padding: 10px;
    border-top: 0.5px solid rgb(211, 203, 203);
  }

  .mt-10{
    margin-top: 20px;
  }

  .mr-10{
    margin-right: 10px;
  }

  .svg-2{
    margin-top: 5px;
  }

  .ml-80{
    margin-top: 10px;
    margin-left: 80px;
  }

  .ml-20{
    margin-left: 20px;
  }

  .activelike{
    color: blue;
  }

  .signin{
    border: 1px solid rgb(197, 197, 204);
    width: 100px;
    border-radius: 20px;
    padding: 7px 2px;
    font-size: 15px;
    font-family: "Roboto","Noto",sans-serif ;
    color: rgb(75, 98, 228);
    font-weight: 600;
    margin-top: 5px;
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .signin:hover{
    background-color: #e6e7e9;
    cursor: pointer;
  }

  .signinheading{
    font-family: "Roboto","Noto",sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 2px;
  }

  .sm-grey{
    font-size: 14px;
    word-spacing: 4px;
    color: grey;
    font-weight: 600;
  }

 

  .p-10{
    padding: 10px;
  }

  .red{
    color:red;
  }

  .grey{
    color: grey;
    font-size: 15px;
    font-weight: 500;
    line-height: 5px;
  }

  .suggestedgrey{
    color: grey;
    font-weight: 500;
  }

  .shift-right{
    left:250px;
    width:80vw; 
    padding: 10px;
   }

   button.active{
    background-color: black;
    color: white;
   }

   .br-50 img{
    border-radius: 50%;
   }

   .flex{
    display: flex;
   }

   .br50{
    border-radius: 50%;

   }

   .mlr-15{
    margin-left: 10px;
    margin-right: 15px;
   }

   .pointer{
    cursor: pointer;
   }

   .bbuser{
    border-bottom: 0.5px solid rgb(180, 176, 176);
   }